<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Log-in - CodePen</title>

  <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

    <link rel="stylesheet" href="/static/login_style.css"  type="text/css" />
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
  
</head>

<body>

  <div class="login-card" align="center">
    <h1>Log-in</h1><br>
  <form method="POST">
  {% csrf_token %}
        {{login_form.username}}{% if login_form.username.errors %}{{login_form.username.errors}}{% endif %}
        {{login_form.password}}{% if login_form.password.errors %}{{login_form.password.errors}}{% endif %}
	  <input type="submit" class="btn btn-primary btn-lg" value="LogIn"></input>
	</form>
  <br>
  <div class="login-help">
    <a href="/register">Register</a> • <a href="#">Forgot Password</a>
  </div>
</div>
</body>

