<!DOCTYPE html>
<html>
  <title>QueXteR</title>
<head>

  <meta charset="UTF-8">
  <style type="text/css">

	.label{
		text-align:left;
		}
	.inputs{
		text-align:right;
		}
	</style>
  <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

    <link rel="stylesheet" href="/static/login_style.css"  type="text/css" />

</head>

<body>

  <div class="login-card" align="center">
    <h4>Set Password</h4><br>
	<h3 color="red">{{error}}</h3><br>
  <form method="POST">
  {% csrf_token %}
        {{ form.new_password1 }}{% if form.new_password1.errors %}{{ form.new_password1.errors }}{% endif %}
        {{ form.new_password2 }}{% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}
	  <input type="submit" class="login login-submit" onclick="return confirm('Are you Sure?')" value="Set Password"></input>
	</form>
	</div>
  <div class="login-help">
  </div>
</div>
</body>

