<!DOCTYPE html>
<html>
  <title>Password Reset</title>
<head>

  <meta charset="UTF-8">
  <style type="text/css">
	body{
	background-image:url("/static/index.jpg");
	 
	}
	.label{
		text-align:left;
		}
	.inputs{
		text-align:right;
		}
	</style>
  <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

    <link rel="stylesheet" href="/static/login_style.css"  type="text/css" />

</head>

<body>

  <div class="login-card" align="center">
  <h3>{{user.first_name}} {{user.last_name}}</h3><br>
    <h4>Password Reset</h4><br>
	<h3 color="red">{{error}}</h3><br>
  <form method="POST">
  {% csrf_token %}
	{{form.email}}{% if form.email.errors %}{{form.email.errors}}{% endif %}
    <input type="submit" value="Send Mail"></input>
	</form>
  <div class="login-help">
  </div>
</div>
</body>